<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Gurajada' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/main.css">
  <title>|RoboPet|</title>
</head>
<body>
  <h1>Welcome to Robot World!</h1>
  <h2>Home of the famous "Wall-E!"</h2>
  <!-- <img src="/wall-e.jpg" width="110" height="110"/> -->
  <div class="container">
    <%= yield %>
    <div id="body">
      <img src="/wall-e.jpg" width="300" height="300"/>
    </div>
    <div class="clearfooter"></div>
  </div>
    <div id="footer">
      <p>&copy; 2015 Robot World </p>
    </div>
</body>
</html>