<form action="/robots" method="post">
  <fieldset>
  <legend>BUILD YOUR CUSTOM ROBOT!</legend>
    <label>Enter a name for your robot :<br/>
      <input type='text' name='robot[name]'/></label><br/>
    <label>Enter a city :<br/>
      <input type='text' name='robot[city]'/></label><br/>
    <label>Enter a state :<br/>
      <input type='text' name='robot[state]'/></label><br/>
    <label>Enter what type of avatar :<br/>
      <input type='text' name='robot[avatar]'/></label><br/>
    <label>Enter the date of creation :<br/>
      <input type='text' name='robot[birthdate]'/></label><br/>
    <label>Enter the date hired :<br/>
      <input type='text' name='robot[datehired]'/></label><br/>
    <label>Enter the department :<br/>
      <input type='text' name='robot[department]'/></label>
        <input type='submit' value="Submit"/>
  </fieldset>
</form>

